U1/P2/ex2.dtd

<!ELEMENT lettera (#PCDATA|cliente|ordine|responsabile)*>
<!ELEMENT cliente (#PCDATA)>
<!ATTLIST ordine num CDATA #REQUIRED>
<!ELEMENT ordine (articolo+)>
<!ELEMENT articolo (codice, descr)>
<!ELEMENT codice (#PCDATA)>
<!ELEMENT descr (#PCDATA)>
<!ELEMENT responsabile (#PCDATA|tit)*>
<!ELEMENT tit (#PCDATA)>
